## Area of Rectangle
![alt text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTrV2CluNgfdVvioARFzEZbFaTKhbiUQUbmdu6XV4G4c9TJD8iP)

In [0]:
length = int(input('Enter Length of rectangle (cm.) '))
width = int(input('Enter Width of rectangle (cm.) '))

area = length*width

print('Area of rectangle (',length,'*',width,') = ', area, 'cm2')

Enter Length of rectangle (cm.) 5
Enter Width of rectangle (cm.) 7
Area of rectangle ( 5 * 7 ) =  35 cm2

## Area of Circle
![alt text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSr6vKT2aN8ClglPFW5vgrSZf7yNeYxISsEM3vrdAA2bkRW3ak7)

In [0]:
radius = float(input('Enter Radius of Circle (cm.) '))
pi = 1.34159

area = pi * (radius * radius)

print('Area of circle ( r=',radius,') =',area, 'cm2')

Enter Radius of Circle (cm.) 8
Area of circle ( r= 8.0 ) = 85.86176 cm2

In [0]:
import math

radius = float(input('Enter Radius of Circle (cm.) '))
pi = 1.34159

area = pi * math.pow(radius,2)

print('Area of circle ( r=',radius,') =',area, 'cm2')

Enter Radius of Circle (cm.) 8
Area of circle ( r= 8.0 ) = 85.86176 cm2

In [0]:
math.sqrt(8)

2.8284271247461903

## Area of Triangle

![alt text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQSIoYEEkpFsNDTylZH5OxMg7iLob2g3g2I__BGSX3jsUtJSgJF)

In [0]:
height = int(input('Enter height of triangle (cm.) '))
base = int(input('Enter base of triangle (cm.) '))

area = (1/2)*base*height

print('Area of triangle  = ', area, 'cm2')

Enter height of triangle (cm.) 5
Enter base of triangle (cm.) 12
Area of triangle  =  30.0 cm2

# If-else

## Flowchart

![alt text](https://javatoselenium.files.wordpress.com/2014/09/ec1ifelsesol.gif)

In [0]:
no = int(input('Enter a number (1/2): '))

# condition  >, >=, <, <=, ==, !=, and, or, not, True, False
if(no == 1):   
  score = int(input('Enter your score: '))
  if(score > 100):
    print('Error')
  elif(score>80):
    print('S')
  else:
    print('U')

if(no == 2):
  score = int(input('Enter your score: '))
  if(score > 100):
    print('Error')
  elif(score>=80):
    print('A')
  elif(score>=70):
    print('B')
  else:
    print('F')

else:
  print('Please enter only number 1 or 2')

## BMI Calculator

###BMI compares your weight to your height, and is calculated by dividing your weight (in kilograms) by your height (in metres squared)

In [0]:
import math

weight = int(input('Enter your weight (kg.) '))
height = int(input('Enter your height (cm.) '))

height = float(height/100)
height2 = math.pow(height,2)

bmi = weight / height2
print(bmi)

Enter your weight (kg.) 75
Enter your height (cm.) 165
27.548209366391188

## BMI Categories:  
Underweight = <18.5  
Normal weight = 18.5–24.9  
Overweight = 25–29.9  
Obesity = BMI of 30 or greater

In [0]:
bmi = 30

if(bmi > 30):
  print('Obesity')
elif(bmi > 25):
  print('Overweight')
elif(bmi > 18.5):
  print('Normal weight')  
else:
  print('Underweight')

Overweight

#While-Loop

In [0]:
A = 1    			        #<-- 1) Initial variable
while(A<10):  		#<---2) condition
	print(A)
	A = A+1        		# <-- 3) increase variable
  #A += 1

1
2
3
4
5
6
7
8
9

# For-Loop

In [0]:
for A in range(1,10):
  print(A)

1
2
3
4
5
6
7
8
9

In [0]:
name = ['Olarik', 'Kaveepoj', 'Suwich', 'Suwichai']  

A = 0
while(A<len(name)):  	
	print('[',A,']', name[A])	
	A = A+1

[ 0 ] Olarik
[ 1 ] Kaveepoj
[ 2 ] Suwich
[ 3 ] Suwichai

In [0]:
name = ['Olarik', 'Kaveepoj', 'Suwich', 'Suwichai']  
surname = ['Surinta', 'Bunluewong', 'Tirakoat', 'Punsa']

A = 0
while(A<len(name)):  	
	print('[',A,']', name[A], surname[A])	
	A = A+1

[ 0 ] Olarik Surinta
[ 1 ] Kaveepoj Bunluewong
[ 2 ] Suwich Tirakoat
[ 3 ] Suwichai Punsa

In [0]:
name = ['Olarik', 'Kaveepoj', 'Suwich', 'Suwichai']  
surname = ['Surinta', 'Bunluewong', 'Tirakoat', 'Punsa']

print('[idx] Name')
print('==========')
for A in range(0, len(name)): 	
	print('[',A,']', name[A], surname[A])	
print('==========')

[idx] Name
==========
[ 0 ] Olarik Surinta
[ 1 ] Kaveepoj Bunluewong
[ 2 ] Suwich Tirakoat
[ 3 ] Suwichai Punsa
==========

In [0]:
name = ['Olarik', 'Kaveepoj', 'Suwich', 'Suwichai']  

for n in name:
  print(n)

Olarik
Kaveepoj
Suwich
Suwichai

In [0]:
name = ['Olarik', 'Kaveepoj', 'Suwich', 'Suwichai']  

idx = 0
for n in name:
  print('[',idx,']', n)
  idx += 1

[ 0 ] Olarik
[ 1 ] Kaveepoj
[ 2 ] Suwich
[ 3 ] Suwichai

In [0]:
name = ['Olarik', 'Kaveepoj', 'Suwich', 'Suwichai']  
surname = ['Surinta', 'Bunluewong', 'Tirakoat', 'Punsa']

idx = 0
for n in name:
  print('[',idx,']', n, surname[idx])
  idx += 1

[ 0 ] Olarik Surinta
[ 1 ] Kaveepoj Bunluewong
[ 2 ] Suwich Tirakoat
[ 3 ] Suwichai Punsa

In [0]:
name = ['Olarik', 'Kaveepoj', 'Suwich', 'Suwichai']  

for idx, n in enumerate(name):
  print('[',idx,']', n)

[ 0 ] Olarik
[ 1 ] Kaveepoj
[ 2 ] Suwich
[ 3 ] Suwichai

In [0]:
name = ['Olarik', 'Kaveepoj', 'Suwich', 'Suwichai']  
surname = ['Surinta', 'Bunluewong', 'Tirakoat', 'Punsa']

for idx, n in enumerate(name):
  print('[',idx,']', n, surname[idx])

[ 0 ] Olarik Surinta
[ 1 ] Kaveepoj Bunluewong
[ 2 ] Suwich Tirakoat
[ 3 ] Suwichai Punsa

In [0]:
name = ['Olarik', 'Kaveepoj', 'Suwich', 'Suwichai']  
surname = ['Surinta', 'Bunluewong', 'Tirakoat', 'Punsa']

idx=0
for n, s in zip(name, surname):
  print('[',idx,']', n, s)
  idx += 1

[ 0 ] Olarik Surinta
[ 1 ] Kaveepoj Bunluewong
[ 2 ] Suwich Tirakoat
[ 3 ] Suwichai Punsa

In [0]:
import sys
import time
import os

while(True):
     #block of code
     #
     #

     chk = input('Do you want to exit program y/n: ')
     if((chk=='y') or (chk =='Y')):
       sys.exit()
     else:
       time.sleep(3)
       os.system('cls')